@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Figtree", Helvetica, sans-serif;
}

/* .page-transition {
  position: relative;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  will-change: opacity, transform;
} */
